mixin btn(text, href=false, type='button', classname='')
    if href
        a.button(href=href class=classname)&attributes(attributes)= text
    else
        button.button(type=type class=classname)&attributes(attributes)= text